.datatable div{
    font-size: 14px;
}
.bpcekY svg{
    display: none !important;
}
select:focus {
    --tw-ring-color: #e4023b !important;
}
.react-select__control{
    padding-top: 2px;
    padding-bottom: 2px;
}
.react-select__input{
    box-shadow: none !important;
}
.add-items-menu .absolute{
    left: 0;
}
